<div class="card-header d-flex justify-content-between">
  <span>
    Liste des recettes
  </span>
 
  <%= link_to 'New Recipes List', new_recipes_list_path %>
</div>

<ul class='list-group'>
  <% @recipes_lists.each do |recipes_list| %>
    <li class='list-group-item'>
      <%= link_to recipes_list.title, recipes_list %>
    </li>
  <% end %>
</ul>
